@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* Variables */

:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --hue-color: 206;
  --black-color: hsl(var(--hue-color), 4%, 4%);
  --black-color-alt: hsl(var(--hue-color), 4%, 8%);
  --title-color: hsl(var(--hue-color), 4%, 95%);
  --text-color: hsl(var(--hue-color), 4%, 75%);
  --text-color-light: hsl(var(--hue-color), 4%, 65%);
  --white-color: #fff;
  --body-color: hsl(var(--hue-color), 4%, 6%);
  --container-color: hsl(var(--hue-color), 4%, 10%);
  --text-gradient: linear-gradient(
    hsl(var(--hue-color), 4%, 24%),
    hsl(var(--hue-color), 4%, 8%)
  );
  --scroll-thumb-color: hsl(var(--hue-color), 4%, 16%);
  --scroll-thumb-color-alt: hsl(var(--hue-color), 4%, 20%);

  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 5rem;
  --bigger-font-size: 3.5rem;
  --big-font-size: 2.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --text-line-height: 2rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 7.5rem;
    --bigger-font-size: 4.5rem;
    --big-font-size: 4rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
}

h1,
h2,
h3,
span,
p {
  color: var(--title-color);
}

ul,
a {
  text-decoration: none;
  list-style: none;
}

button {
  cursor: pointer;
}

button,
input {
  outline: none;
  border: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Change Header Background on Scroll  */

header.header-bg {
  background-color: var(--black-color-alt);
}
/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 4rem 0 2rem;
}

.section__title {
  font-size: var(--bigger-font-size);
  text-align: center;
  margin-bottom: var(--mb-2-5);
}

.section__title-gradient {
  background: var(--text-gradient);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.main {
  overflow: hidden;
}

.container {
  max-width: 968px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
}

/* HEADER */

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background: transparent;
}

/* NAV */
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  display: flex;
  width: 1.5rem;
}

.nav-toggle {
  width: 1.2rem;
  color: var(--white-color);
  cursor: pointer;
}

@media (max-width: 767px) {
  .nav-menu {
    position: fixed;
    background-color: var(--body-color);
    top: -100%;
    left: 0;
    width: 100%;
    padding: 4rem 0 3rem;
    transition: 0.4s;
  }
}

.nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}

.nav-link {
  color: var(--white-color);
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
  background: var(--text-gradient);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  transition: 0.2s;
}

.nav-link:hover {
  background: var(--white-color);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.nav-close {
  position: absolute;
  font-size: 1.5rem;
  top: 1rem;
  right: 1rem;
  color: var(--white-color);
  cursor: pointer;
}

.show-menu {
  top: 0;
}

/* MAIN */

/* HOME */
.home-img {
  width: 250px;
  position: absolute;
  top: -16rem;
  right: 1.5rem;
}

.home-content {
  padding-top: 5rem;
}

.home-header {
  position: relative;
}

.home-title {
  font-size: var(--biggest-font-size);
  background: var(--text-gradient);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  position: absolute;
  top: -4rem;
  left: 1rem;
  line-height: 6rem;
}

.home-subtitle {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-2-5);
}

.home-title-description {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1);
  font-weight: var(--font-medium);
}

.home-description {
  margin-bottom: var(--mb-2-5);
  line-height: var(--text-line-height);
  color: var(--white-color);
}

.home-price {
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
  margin-left: var(--mb-0-75);
}

/* BUTTONS */

.button {
  display: inline-block;
  background-color: var(--black-color);
  color: var(--white-color);
  border-radius: 0.5rem;
  padding: 1rem 1.23rem;
  transition: 0.3s;
}

.button:hover {
  background-color: var(--black-color-alt);
}

.home-content .button i {
  font-size: 1.2rem;
}

.button-flex {
  display: inline-flex;
  align-items: center;
  column-gap: 0.75rem;
}

/* SPONSORS */

.sponsor-img {
  width: 90px;
}

.sponsor-container {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  row-gap: 5rem;
  justify-items: center;
  align-items: center;
}

/* SPECS */

.specs-container {
  position: relative;
}
.specs-container i,
.specs-container span {
  color: var(--white-color);
}
.specs-data {
  row-gap: 1.5rem;
}

.specs-content {
  display: grid;
  row-gap: 0.25rem;
}

.specs__icon {
  font-size: 1.2rem;
}

.spec-title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.spec-subtitle {
  font-size: var(--smaller-font-size);
}

.specs-content:nth-child(1),
.specs-content:nth-child(4) {
  margin-left: var(--mb-1-5);
}

.specs-img {
  width: 250px;
  position: absolute;
  top: 2rem;
  right: -4rem;
}

/* CASE */

.case-container {
  position: relative;
  grid-template-columns: repeat(2, 1fr);
}

.case-data {
  padding: 5rem 0 3rem;
}

.case-img {
  width: 250px;
  position: absolute;
  left: -7rem;
}

.case-description {
  margin-bottom: var(--mb-1-5);
  line-height: var(--text-line-height);
  color: var(--white-color);
}

.discount-container {
  position: relative;
  background-color: var(--container-color);
  margin-top: 7rem;
  padding: 2rem 1.5rem;
  border-radius: 0.75rem;
}

.discount-title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-75);
}

.discount-dix {
  margin-bottom: var(--mb-1);
}

.discount-img {
  width: 300px;
  position: absolute;
  top: 4rem;
  right: -11rem;
}

/* PRODUCTS */

.products-line {
  margin-bottom: 5rem;
}

.products-container {
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem 1.5rem;
}

.products-card {
  position: relative;
  background-color: var(--container-color);
  height: 132px;
  display: grid;
  padding: 0.7rem;
  border-radius: 0.5rem;
}

.product-img {
  width: 80px;
  position: absolute;
  inset: 0;
  margin-left: auto;
  margin-right: auto;
  top: -3rem;
}

.products-content {
  align-self: flex-end;
}

.products-title,
.products-price {
  font-size: var(--small-font-size);
}

.products-price {
  font-weight: var(--font-semi-bold);
}
.products-button {
  position: absolute;
  right: 1rem;
  bottom: 0.8rem;
  padding: 0.8rem;
  border-radius: 0.5rem;
  border: 1px solid salmon;
}

/* FOOTER */

.footer-container {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  row-gap: 2rem;
}

.footer-title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1);
}

.footer-logo {
  width: 2rem;
}

.footer-links {
  display: flex;
  flex-direction: column;
  row-gap: 0.4rem;
}

.footer-link {
  color: var(--text-color);
}

.footer-link:hover {
  color: var(--white-color);
}

.footer-form {
  background-color: var(--container-color);
  display: flex;
  margin-bottom: var(--mb-2);
  column-gap: 0.5rem;
  padding: 0.5rem 0.75rem;
}

.footer-input {
  background-color: var(--container-color);
  color: var(--white-color);
  width: 90%;
}

.footer-input::placeholder {
  color: var(--text-color);
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
}

.footer-social {
  display: flex;
  column-gap: 1.25rem;
}

.social-link {
  display: inline-flex;
  color: var(--white-color);
  font-size: 1rem;
  padding: 0.5rem;
  height: 30px;
  background-color: var(--container-color);
  border-radius: 0.3rem;
}

.social-link:hover {
  background-color: var(--black-color);
}

.footer-copyright {
  text-align: center;
  margin-top: 4rem;
}

.footer-copylink {
  color: var(--text-color-light);
  font-size: var(--h3-font-size);
}

/* SCROLLBAR */

.scrollbar {
  position: fixed;
  right: 1rem;
  bottom: -4;
  background-color: var(--container-color);
  padding: 0.5rem;
  border-radius: 0.35rem;
  opacity: 0.7;
  transition: all 0.3s;
  cursor: pointer;
}

.scroll-icon {
  color: var(--white-color);
  font-size: 1.5rem;
}

.scrollbar:hover {
  background-color: var(--black-color);
  opacity: 1;
}

.show-scroll {
  bottom: 6rem;
}

/* Highlight NavLink */

.active-link {
  background: var(--white-color);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

/* Customize Scroll BArr */

::-webkit-scrollbar {
  width: 0.4rem;
  border-radius: 10px;
  background-color: var(--scroll-thumb-color);
}

::-webkit-scrollbar-thumb {
  /* background-color: var(--white-color); */
  background-color: var(--scroll-thumb-color-alt);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color-light);
}

/* MEDIA QUERIES */

@media (max-width: 340px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
  .section__title {
    font-size: var(--big-font-size);
  }
  .home-img {
    width: 200px;
    top: -14rem;
  }
  .home-title {
    top: -4rem;
    font-size: var(--bigger-font-size);
  }
  .home-content {
    padding-top: 1rem;
  }
  .home-description {
    font-size: var(--small-font-size);
  }
  .specs-img {
    width: 200px;
  }
  .case-container {
    grid-template-columns: 0.6fr 1fr;
  }
  .case-img {
    width: 220px;
    top: -2rem;
    left: -9rem;
  }
  .case-data {
    padding: 0;
  }
  .products-container {
    grid-template-columns: 200px;
    justify-content: center;
  }
}
@media (max-width: 576px) {
  .nav-logo {
    height: 23px;
  }
}

@media (min-width: 576px) {
  .nav-logo {
    height: initial;
  }
  .home-container {
    grid-template-columns: 0.8fr 1fr;
  }
  .home-content {
    padding-top: 2rem;
  }
  .home-img {
    top: -4rem;
    left: 0;
  }
  .specs-img {
    position: initial;
  }
  .specs-container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
  }
  .case-img {
    position: initial;
  }
  .case-data {
    padding: 0;
  }
  .case-container {
    grid-template-columns: max-content 260px;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
  }
  .discount-img {
    position: initial;
  }
  .discount-container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
  }
  .products-container {
    grid-template-columns: repeat(3, 160px);
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }
  .section {
    padding: 5rem 0 2rem;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav-list {
    flex-direction: row;
    column-gap: 3rem;
  }
  .nav-link {
    font-size: var(--normal-font-size);
    text-transform: initial;
  }
  .nav-toggle,
  .nav-close {
    display: none;
  }

  .home-container {
    position: relative;
    grid-template-columns: repeat(2, 1fr);
  }
  .home-content {
    padding-top: 8rem;
  }
  .home-img {
    top: -10rem;
    left: 4rem;
  }
  .specs-img,
  .case-img {
    width: 300px;
  }
  .case-container {
    column-gap: 5rem;
  }
  .case-description {
    margin-bottom: var(--mb-2);
  }
  .discount-container {
    grid-template-columns: max-content 300px;
    justify-content: center;
    column-gap: 5rem;
    padding: 3.5rem 0;
  }
  .discount-title {
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-1);
  }
  .discount-dix {
    margin-bottom: var(--mb-2);
  }
  .products-container {
    grid-template-columns: repeat(3, 180px);
    gap: 6rem 4.5rem;
  }
  .products-card {
    height: 150px;
  }
  .product-img {
    width: 95px;
  }
  .footer-container {
    grid-template-columns: 0.4fr 0.7fr 0.7fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .home-img {
    width: 300px;
  }
  .home-title {
    top: -4rem;
    left: 3.5rem;
  }
  .home-description {
    padding-right: 5rem;
  }
  .sponsor-img {
    width: 120px;
  }
  .footer-container {
    margin-top: 5rem;
  }
  .footer-copyright {
    margin-top: 9rem;
  }
}
